<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>[WS] image-mosaic</title>
        <style type="text/css">
            h1 { text-align: center; }
            h3 { text-align: center; }
            h4 { text-align: center; }

            .center {
                display: grid;
                place-items: center;
            }

            img {
                height: auto;
                max-height: 600px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>[WS] image-mosaic</h1>
            <h3 id="status"></h3>
        </header>
        <hr>
        <main class="center">
            <div id="app"></div>

            <form id="upload">
                <label for="file"><h3>Upload image file</h3></label>
                <input type="file" id="file" accept=".jpeg, .jpg, .png">
                <button>Upload</button>
            </form>
        </main>
        <hr>
        <footer>
            <h4><a href="https://github.com/Mosaist/Mosaist">GitHub</a></h4>
        </footer>

        <script>
            const status = document.querySelector('#status');
            status.innerHTML = '<i>Disconnected</i>';
            status.style.color = 'red';

            const socketURL = 'wss://kut.unta.io:8080'
            const socket = new WebSocket(socketURL);

            socket.addEventListener('open', (event) => {
                console.log(`Socket ${socketURL} has been connected.`);

                status.innerHTML = '<i>Connected</i>';
                status.style.color = 'green';
            })

            socket.addEventListener('error', (event) => {
                console.log(`An error has occured during ${socketURL} socker connection.`);

                status.innerHTML = '<i>Disconnected</i>';
                status.style.color = 'red';
            })

            socket.addEventListener('close', (event) => {
                console.log(`Socket ${socketURL} has been disconnected.`);

                status.innerHTML = '<i>Disconnected</i>';
                status.style.color = 'red';
            })

            socket.addEventListener('message', (event) => {
                const blob = new Blob([event.data])
                const url = URL.createObjectURL(blob, 'image/png');
                const image = document.createElement('img');
                image.className = 'result';
                image.src = url;
                app.append(image);
            });

            const form = document.querySelector('#upload');
            const file = document.querySelector('#file');
            const app = document.querySelector('#app');

            function logFile (event) {
                const str = event.target.result;
                const img = document.createElement('img');
                img.className = 'result';
                img.src = str;
                app.append(img);

                socket.send(`image-mosaic::${str.split(',')[1]}`);
            }

            async function handleSubmit (event) {
                event.preventDefault();

                if (!file.value.length)
                    return;

                const reader = new FileReader();
                reader.onload = logFile;
                reader.readAsDataURL(file.files[0]);

                const previousResult = document.querySelectorAll('.result');
                if (previousResult.length > 0) {
                    previousResult.forEach(e => app.removeChild(e));
                }
            }

            form.addEventListener('submit', handleSubmit);
        </script>
    </body>
</html>