<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>[WS] video-mosaic</title>
        <style type="text/css">
            h1 { text-align: center; }
            h3 { text-align: center; }
            h4 { text-align: center; }

            .center {
                display: grid;
                place-items: center;
            }

            img {
                height: auto;
                max-height: 600px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>[WS] video-mosaic</h1>
        </header>
        <hr>
        <main class="center">
            <h1>In development.</h1>
        </main>
        <hr>
        <footer>
            <h4><a href="https://github.com/Mosaist/Mosaist">GitHub</a></h4>
        </footer>
    </body>
</html>