<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>Real-Time Mosaic</title>
        <style>
            h1 { text-align: center; }
            h3 { text-align: center; }
            h4 { text-align: center; }

            .center {
                display: grid;
                place-items: center;
            }

            #out {
                width: 640px;
                height: 480px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Real-Time Mosaic</h1>
            <h3 id="status"></h3>
        </header>
        <hr>
        <main class="center">
            <div>
                <video autoplay="true" id="cam"></video>
                <img id="out" />
                <canvas id="temp" hidden="true"></canvas>
            </div>
        </main>
        <hr>
        <footer>
            <h4><a href="https://github.com/Mosaist/Mosaist">GitHub</a></h4>
        </footer>

        <script>
            const status = document.querySelector('#status');
            status.innerHTML = '<i>Disconnected</i>';
            status.style.color = 'red';

            const socketURL = '{{ config.server.back.socketUrl }}'
            const socket = new WebSocket(socketURL);

            socket.addEventListener('open', (event) => {
                console.log(`Socket ${socketURL} has been connected.`);

                status.innerHTML = '<i>Connected</i>';
                status.style.color = 'green';
            })

            socket.addEventListener('error', (event) => {
                console.log(`An error has occured during ${socketURL} socker connection.`);

                status.innerHTML = '<i>Disconnected</i>';
                status.style.color = 'red';
            })

            socket.addEventListener('close', (event) => {
                console.log(`Socket ${socketURL} has been disconnected.`);

                status.innerHTML = '<i>Disconnected</i>';
                status.style.color = 'red';
            })

            socket.addEventListener('message', (event) => {
                const image = URL.createObjectURL(new Blob([event.data]));
                out.src = image;
            });

            const fps = 10;
            const timeStep = 1000 / fps;

            const video = document.querySelector("#cam");
            const out = document.querySelector("#out");
            const canvas = document.querySelector("#temp");
            const canvasOut = canvas.getContext('2d');

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    video.srcObject = stream;

                    setInterval(async () => {
                        canvasOut.drawImage(video, 0, 0, canvas.width, canvas.height);
                        const str = canvas.toDataURL();

                        socket.send(`image-mosaic::${str.split(',')[1]}`);
                    }, timeStep);
                })
                .catch(function (error) {
                    console.error(error);
                });
            }
        </script>
    </body>
</html>