<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>Real-Time Mosaic</title>
        <link rel="stylesheet" href="../assets/css/theme.css">
        <style>
            h1 { text-align: center; }
            h3 { text-align: center; }
            h4 { text-align: center; }

            .center {
                display: grid;
                place-items: center;
            }

            #out {
                width: 640px;
                height: 480px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Real-Time Mosaic</h1>
        </header>
        <hr>
        <main class="center">
            <div>
                <video autoplay="true" id="cam"></video>
                <img id="out" />
                <canvas id="temp" hidden="true"></canvas>
            </div>
        </main>
        <hr>
        <footer>
            <h4><a href="index.html">Home</a></h4>
        </footer>

        <script>
            const fps = 10;
            const timeStep = 1000 / fps;

            const video = document.querySelector("#cam");
            const out = document.querySelector("#out");
            const canvas = document.querySelector("#temp");
            const canvasOut = canvas.getContext('2d');

            console.log(out.style);

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    video.srcObject = stream;

                    setInterval(async () => {
                        canvasOut.drawImage(video, 0, 0, canvas.width, canvas.height);

                        canvas.toBlob(async (blob) => {
                            const formData = new FormData();
                            formData.append('file', new File([blob], 'test.png'));

                            const response = await fetch('https://kut.unta.io:8080/image/mosaic', {
                                method: 'POST',
                                body: formData
                            });

                            const image = URL.createObjectURL(await response.blob());
                            out.src = image;
                        });
                    }, timeStep);
                })
                .catch(function (error) {
                    console.error(error);
                });
            }
        </script>
    </body>
</html>