<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Mosaist</title>
        <style>
            h1 { text-align: center; }
            h3 { text-align: center; }
            h4 { text-align: center; }

            .center {
                display: grid;
                place-items: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Mosaist</h1>
            <h3 id="status"></h3>
            <h3 id="socket-status"></h3>
        </header>
        <hr>
        <main class="center">
            <h3><a href="./imageMosaic.html">Image Mosaic</a></h3>
            <h3><a href="./videoMosaic.html">Video Mosaic</a></h3>
            <h3><a href="./realTimeMosaic.html">Real-Time Mosaic</a></h3>
        </main>
        <hr>
        <footer>
            <h4><a href="https://github.com/Mosaist/Mosaist">GitHub</a></h4>
        </footer>

        <script>
            const status = document.querySelector('#status');

            status.innerHTML = '<i>Checking Service Status</i>';

            fetch('https://kut.unta.io:8080')
            .then(() => {
                status.innerHTML = '<i>Service Available</i>';
                status.style.color = 'green';
            })
            .catch(() => {
                status.innerHTML = '<i>Service Not Available</i>';
                status.style.color = 'red';
            });

            const socketStatus = document.querySelector('#socket-status');
            socketStatus.innerHTML = '<i>Disconnected</i>';
            socketStatus.style.color = 'red';

            const socketURL = 'wss://kut.unta.io:8081'
            const socket = new WebSocket(socketURL);

            socket.addEventListener('open', (event) => {
                console.log(`Socket ${socketURL} has been connected.`);

                socketStatus.innerHTML = '<i>Connected</i>';
                socketStatus.style.color = 'green';
            })

            socket.addEventListener('error', (event) => {
                console.log(`An error has occured during ${socketURL} socker connection.`);

                socketStatus.innerHTML = '<i>Disconnected</i>';
                socketStatus.style.color = 'red';
            })

            socket.addEventListener('close', (event) => {
                console.log(`Socket ${socketURL} has been disconnected.`);

                socketStatus.innerHTML = '<i>Disconnected</i>';
                socketStatus.style.color = 'red';
            })
        </script>
    </body>
</html>